/* 파일 다운로드 창 시작 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@font-face {
    font-family: 'MaruBuriExtraLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot?#iefix) format("embedded-opentype"), 
         url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2) format("woff2"), 
         url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff) format("woff");
}
@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), 
         url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff");
}
  .file-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 468px;
    height: 50px;
    padding: 10px;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    color: black;
    margin: 0 auto;
  }  
  .file-box:hover {
    background-color: #F9F9F9;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    color: #CB242A;
  }
    
  .file-box:hover .file-folder-icon i:before {
    content: "\f07c";
    margin-right: -4px;
  }

  .file-folder-icon {
    margin-right: 20px; /* 여백 추가 */
    padding-left: 10px;
  }

  .file-info {
    text-align: left;
  }

  .file-size {
    font-size: 12px;    
  }
  .Down-btn {    
    text-decoration: none;    
    cursor:pointer;
  }

  .file-down-icon {
    margin-left: auto;
    padding-right: 10px;
  }

    .title-box {
      position: relative;
      top: 20px;
    font-family: 'MaruBuriExtraLight';
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #559CEF;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    color:#ffffff;
    display : flex;
    align-items : center;
    border-radius: 10px 10px 0px 0px;
  }
  .middle-box {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 130px;
    padding: 30px 10px 0px 10px;
  }
    .bottom-box {
    font-family: 'NanumSquareNeo';
    position: relative;
    top: -70px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 100%;
    margin-bottom: 20px;
    background-color: #000000;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    color:#FFE35B;
    display : flex;
    align-items : center;
    border-radius: 0px 0px 10px 10px;
    line-height: 1.3em;
  }
    .info-box {
    font-family: 'NanumSquareNeo';
    height: 50px;
    width: 140px;
    margin-bottom: 20px;
    background-color: #000000;
    padding: 0px 5px 0px 5px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color:#FF5017;
    display : flex;
    justify-content : center;
    border-radius: 20px 20px 20px 20px;
    transform:translate(-50%);
    position: relative; 
    left:50%; 
    top: -20px; 
  }

/* 파일 다운로드 창 끝 */

/* 링크 창 시작 */
    .link-container { display: flex; align-items: center; max-width: 855px; margin: 0 auto; border: 1px solid #ccc; height: 200px; }    
    .divider { height: 100%; margin: 0 15px; }    
    .og-image { width: 200px; height: 200px; overflow: hidden; display: flex; position: relative; }
    .og-image img { width: 100%; height: 100%; object-fit: cover; }
    .og-image::after { content: ; position: absolute; top: 0; right: 0; bottom: 0; border-right: 1px solid #ccc; }
    .og-text { flex: 1; }
    .og-title { display: -webkit-box; -webkit-box-orient: vertical; font-size: 16px; vertical; -webkit-line-clamp: 2; overflow: hidden; font-size: 20px; font-weight: bold; padding: 10px 20px 20px 0px; }
    .og-desc { display: -webkit-box; -webkit-box-orient: vertical; font-size: 16px; vertical; -webkit-line-clamp: 2; overflow: hidden; font-weight: normal; padding-right: 20px;}    
    .link_text { text-decoration: none; }    
    .og-host { font-size: 16px; color: #666; font-weight: normal; padding: 20px 0px 10px 0px;}
    @media (max-width: 671px) { .og-desc { overflow: hidden; text-overflow: ellipsis; font-size: 13px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-height: 1.7; overflow: hidden; } }
    @media (max-width: 570px) { .link-container { height: 89px; }
      .link-container .og-title { font-size: 15px; padding: 15px 0px 0px 10px; }
      .link-container .og-host { font-size: 12px; padding: 0px 0px 10px 10px; }
      .link-container .og-desc { font-size: 5px; padding-left: 10px; }
      .og-image { height: 100%; width: 100px; margin-right: -8%; }
      .og-image::after { border: none; border-right: 1px solid #ccc; }
      .og-image img { width: 100%; height: 100%; }
      .og-desc { display: none; }
      .og-text { padding-left: 10px; }

/* 링크 창 끝 */
